@page "/"

<div>
    <h5>乱数表の生成</h5>
    <a class="btn btn-primary" href="Match"> 試合をする</a>
</div>

<div class=" mt-4">
    <h5>出欠・会計表</h5>
    <a class="btn btn-primary" href="Calculate">計算する</a>
</div>

<div class="mt-4">
    <h5>使い方説明</h5>
    <a class="btn btn-dark" href="help">確認する</a>
</div>
